# ---- MySQL ----
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=siga_unmsm
MYSQL_USER=siga_app
MYSQL_PASSWORD=siga_app_pass

# ---- FastAPI ----
# Generar uno real con: openssl rand -hex 32
SECRET_KEY=change-me-to-a-random-64-char-hex-string
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM=HS256

# CORS: orígenes permitidos (separados por coma). Agregar la URL de Next.js
BACKEND_CORS_ORIGINS=http://localhost:3000

ENVIRONMENT=development
